header { zoom: 1.2; }
header h1 { margin-bottom: 5px; font-family: 'Roboto';}
header h1 a { color: #494949; font-weight: 300;}
header h3 { margin-top: 20px; margin-bottom: 5px; font-family: 'Roboto'; font-weight: 300;}
header p.view { margin-bottom: 5px; font-family: 'Roboto';}
header p.view a {font-weight: 100;}
header p.view small { padding-top: 2.5px; font-weight: 100;}
header ul { zoom: 0.7; margin-top: 25px; }
li a {font-family: 'Roboto'; font-weight: 300;}
section p { margin-top: 10px; }
section h1 { margin-bottom: 15px; font-family: 'Roboto'; font-weight: 100;}
section h2 { margin-bottom: 5px; font-family: 'Roboto'; font-weight: 300; color: #494949;}
footer { bottom: 20px; }
footer p { margin-bottom: 5px; }
.half-width {
  float: left;
  width: 200px;
  list-style: none;
  padding: 5px;
  margin: 7px;
  margin-bottom: 10px;
}
.half-width h4 {
  margin-bottom: 5px;
}
.half-width ul {
  padding-left: 0;
}
.half-width ul li {
  list-style: inside;
  font-size: 15px;
}
.clear-fix {
  clear: both;
}